<div class="jazz-list">
  <div class="jazz-list-item">
    <img class="cover" 
    src="img/Live-at-the-pershing-lounge-but-not-for-me-180gr.jpg"
    alt="{{album.cover.alt}}"/>
    <p class="description">
      {{ album.description }}
    </p>
    <div class="info">
      <p>{{ album.leader | uppercase }}</p>
      <p>{{ album.title }}</p>
      <p>{{ album.label }}</p>
      <p>{{ album.distributor }}</p>
      <p>Enr: {{ album.year }}</p>
    </div>
    <p class="type">{{ album.type | uppercase }}</p>
  </div>
</div>